{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}{{ block.super }} - Purchase{% endblock head_title %}
{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-6 text-center nio">
        <h2>BUY - ALGO  from Exchange - New order -</h2>
        <form method="POST" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn-danger" type="submit" value="Buy ALGO Coin">
        </form>
        <h2><strong>Market Price ALGO/USD ={{ current_price}}</strong></h2>
    </div>
 </div>
<br><br>
<H3>Purchase Commissions = 1%</H3>
<br><br><br>
<p><h5><u>*CURRENT PRICE, you must enter the Market Price value as above (Market Price)</u></h5></p>

{% endblock content %}
